---
import { Icons } from '../Icons';
import SanityImage from '@components/SanityImage/index.astro';
import PortableText from '@components/PortableText/index.astro';
import { cn } from '@lib/utils';
import type { PortableTextBlock } from 'sanity';
import type { SanityImageType } from '@types-local/common';
interface Details {
  beds: number;
  baths: number;
  area: string;
  garage: number;
  yearBuilt: number;
}

interface Props {
  class?: string;
  slug: string;
  image?: SanityImageType;
  title: PortableTextBlock;
  details: Details;
}

const { class: className, slug, image, title, details } = Astro.props as Props;
---

<a
  href={`/${slug}`}
  class={cn(
    className,
    'block bg-white rounded-2xl shadow-md overflow-hidden hover:shadow-lg transition-shadow'
  )}
>
  <!-- Image -->
  <div class="h-266 w-full overflow-hidden">
    <SanityImage
      node={image}
      width={604}
      height={266}
      sizes="(max-width: 768px) 100vw, 604px"
      className="object-cover"
      loading="lazy"
    />
  </div>

  <!-- Title -->
  <div class="pl-30 py-30 border-b font-bold text-3md">
    <PortableText value={title} />
  </div>

  <!-- Details -->
  <div class="grid grid-cols-3 divide-x">
    <div class="flex items-center justify-center gap-1 py-5">
      <Icons.Bed className="size-4" />

      <span class="text-md ml-1">{details.beds}</span>
    </div>
    <div class="flex items-center justify-center gap-1 py-2">
      <Icons.Shower className="size-4" />
      <span class="text-md ml-1">{details.baths}</span>
    </div>
    <div class="flex items-center justify-center gap-1 py-2">
      <Icons.Size className="size-4" />
      <span class="text-md ml-1">{details.area}</span>
    </div>
  </div>
</a>
