---
import PortableText from '@components/PortableText/index.astro';
import Header from '@layouts/Header/index.astro';
import { Icons } from '@components/Icons';
import SanityImage from '@components/SanityImage/index.astro';
import type { PortableTextBlock } from 'sanity';
import type { NavItem, SanityImageType } from '@types-local/common';

interface HeroProps {
  title: PortableTextBlock;
  subtitle: PortableTextBlock;
  labelBtn?: PortableTextBlock;
  image: SanityImageType;
  logo?: SanityImageType;
  navItems?: NavItem[];
  ctaText?: string;
}

const { hero, header } = Astro.props as HeroProps;

const { heading, image, ctaText: labelBtn } = hero;
const { logo, navItems, ctaText } = header;
---

<section class="relative w-full h-[90vh] overflow-hidden">
  <SanityImage
    node={image}
    width={1440}
    height={810}
    sizes="(max-width: 768px) 100vw, 1440px"
    className="absolute inset-0 w-full h-full object-cover"
    loading="eager"
  />
  <div class="absolute inset-0 bg-gradient-to-b from-black/50 to-black/20">
  </div>
  <div
    class="relative z-20 flex flex-col h-full max-w-7xl mx-auto px-6 md:px-12"
  >
    <Header {logo} {navItems} {ctaText} />
    <div class="flex-1 flex items-center">
      <div>
        <div class="max-w-xl">
          <PortableText value={heading.title} />
        </div>

        <div class="mt-4 max-w-md text-gray-200">
          <PortableText value={heading.subtitle} />
        </div>
      </div>
    </div>
    <div class="w-full">
      <div
        class="bg-white w-full px-10 py-9 shadow-lg flex items-center gap-2 cursor-pointer hover:underline"
      >
        <span class="font-semibold">{labelBtn}</span>
        <Icons.Path className="w-5 h-10 text-primary ml-1" />
      </div>
    </div>
  </div>
</section>
